/* Importation de Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Style global de base pour le document */
html,
body {
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  }

/* Liens sans soulignement et héritent de la couleur */
a {
  color: inherit;
  text-decoration: none;
}

/* Utilisation de @apply pour les classes personnalisées */
.input {
  @apply border border-gray-300 p-2 rounded w-full;
}
